#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -D -m 755 claude-notifier.py \
		debian/claude-notifier/usr/lib/claude-notifier/claude-notifier.py
	install -D -m 755 scripts/patch-settings.py \
		debian/claude-notifier/usr/lib/claude-notifier/patch-settings.py
	install -D -m 755 scripts/unpatch-settings.py \
		debian/claude-notifier/usr/lib/claude-notifier/unpatch-settings.py

override_dh_auto_build:
override_dh_auto_test:
